@import "/sass/main.css";
.header {
  display: inline-flex;
  width: 100%;
}
.header a {
  position: absolute;
  left: 2%;
  color: #353535;
}
.header i {
  font-size: 20px;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 300px;
}

.main {
  margin-bottom: -40px;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -40px;
  padding: 25px 15px 50px;
  overflow: hidden;
}
.menu__starter, .menu__dish, .menu__dessert {
  padding: 10px 0 40px;
  opacity: 0;
}
.menu__starter:nth-of-type(2), .menu__dish:nth-of-type(2), .menu__dessert:nth-of-type(2) {
  animation: fade-in 1s ease-in-out 0.5s forwards;
}
.menu__starter:nth-of-type(3), .menu__dish:nth-of-type(3), .menu__dessert:nth-of-type(3) {
  animation: fade-in 2s ease-in-out 1s forwards;
}
.menu__starter:nth-of-type(4), .menu__dish:nth-of-type(4), .menu__dessert:nth-of-type(4) {
  animation: fade-in 3s ease-in-out 1.5s forwards;
}
.menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px 0;
}
.menu__top i {
  font-size: 23px;
}
.menu__top i::after {
  right: 23px;
  content: "\f004";
  position: relative;
  font-weight: 900;
  color: #9356DC;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 900ms ease-in-out;
}
.menu__top i:hover::after {
  opacity: 1;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  color: #101010;
  font-weight: 400;
}
.menu h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.menu h3 span {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
.menu__content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}
.menu__content:hover .menu__validation {
  margin-right: 0;
}
.menu__content:hover .menu__validation i {
  animation: rotate 800ms ease;
}
.menu__txt {
  padding: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__txt p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__txt h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #353535;
  font-size: 14px;
  padding: 0 15px 15px 0;
}
.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__btn__txt {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 35px;
  padding: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  transition: all 500ms ease-in-out;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  letter-spacing: 1px;
}
.menu__btn__txt:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.menu__validation {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  border-radius: 0 15px 15px 0;
  margin-right: -80px;
  transition: margin-right 300ms ease;
}
.menu__validation i {
  font-size: 12px;
  border-radius: 100%;
  color: #99E2D0;
  background-color: white;
  padding: 5px;
}

/*********** Tablette ***********/
@media (min-width: 768px) {
  .img {
    height: 300px;
  }
  .menu {
    padding: 25px 15% 50px;
    margin: 0 12%;
  }
  .menu__top {
    justify-content: center;
    gap: 30px;
  }
}
@keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes text {
  50% {
    opacity: 0.5;
    color: #99E2D0;
  }
  70% {
    opacity: 1;
    color: #FF79DA;
  }
  100% {
    opacity: 0.3;
    color: #99E2D0;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loader {
  height: 1200px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #9356DC;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  animation: load 300ms forwards;
  animation-delay: 2s;
}
.loader__circle {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  border: 15px dotted #99E2D0;
  position: relative;
  bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: border 1700ms linear infinite;
}
.loader__txt {
  font-size: 22px;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  color: #FF79DA;
  animation: text 1s linear infinite;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 63px;
  position: relative;
}
header h1 {
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  color: #101010;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #EAEAEA;
  height: 50px;
}
.search p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
}
.search i {
  color: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 767px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.top {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 40px 20px 50px 20px;
}
.top__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.top__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #353535;
  padding-top: 20px;
}
.top__btn {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 35px;
  padding: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  transition: all 500ms ease-in-out;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  letter-spacing: 1px;
}
.top__btn:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.functioning {
  padding: 50px 20px 50px 20px;
}
.functioning__container {
  display: flex;
  flex-direction: column;
}
.functioning__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}
.functioning__content {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 25px 0;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.functioning__content:nth-of-type(1) .functioning__btn i {
  color: #7E7E7E;
}
.functioning__content:nth-of-type(2) .functioning__btn i {
  color: #7E7E7E;
}
.functioning__content:nth-of-type(3) .functioning__btn i {
  color: #9356DC;
}
.functioning__number {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  right: 12px;
}
.functioning__btn {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.functioning__btn a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.functioning__btn i {
  font-size: 20px;
}

.restaurants {
  padding: 50px 15px;
  background-color: #F6F6F6;
}
.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
.restaurants__new {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  color: #278870;
  background-color: #99e2d0;
  border-radius: 2px;
  border: none;
  position: absolute;
  right: 10px;
  top: 15px;
}
.restaurants__content {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.restaurants__content i::after {
  right: 20px;
  content: "\f004";
  position: relative;
  font-weight: 900;
  color: #9356DC;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 900ms ease-in-out;
}
.restaurants__content i:hover::after {
  opacity: 1;
}
.restaurants__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 170px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__img-container {
  position: relative;
}
.restaurants__heart {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px 15px 15px;
}
.restaurants__heart .fa-heart {
  font-size: 20px;
}
.restaurants__heart h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 5px;
}
.restaurants__heart p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.footer {
  background-color: #353535;
  padding: 20px 15px;
}
.footer h5 {
  font-size: 18px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer__link {
  display: inline-block;
  display: flex;
  gap: 10px;
}
.footer a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 5px;
}

/**************** TABLETTE **************/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
  .functioning__container {
    display: flex;
    flex-direction: row;
    gap: 10px 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .functioning__content {
    width: auto;
    padding-right: 20px;
  }
  .restaurants {
    padding: 50px 20px;
  }
  .restaurants__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 90px;
    justify-content: center;
    align-items: center;
  }
  .restaurants__content {
    width: 100%;
    margin: 0;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding: 80px 30px 20px 0;
  }
  .footer h5 {
    order: 2;
    margin: 0;
    padding-bottom: 15px;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .footer__link:nth-child(2) {
    padding-right: 20px;
  }
}
/************* DEKSTOP ***********/
@media (min-width: 1024px) {
  body {
    max-width: none;
  }
  .functioning {
    padding: 50px 10%;
  }
  .functioning__container {
    display: flex;
    flex-direction: row;
    gap: 10px 50px;
    flex-wrap: nowrap;
    align-items: center;
  }
  .functioning__content {
    width: 100%;
    padding-right: 10px;
  }
  .restaurants {
    padding: 50px 10%;
  }
  .restaurants__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 90px;
    justify-content: center;
    align-items: center;
  }
  .restaurants__content {
    width: 100%;
    margin: 0;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    padding: 80px 50px 20px 0;
  }
  .footer h5 {
    order: 2;
    margin: 0;
    padding-bottom: 15px;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .footer__link:nth-child(2) {
    padding-right: 50px;
  }
}/*# sourceMappingURL=main.css.map */