*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 767px;
    width: 100%;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px #00000026;

    h1 {
        font-size: 30px ;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        color: #101010;
        
    }
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height: 50px;
    input[type="text"] {
        height: 50px;
        
    }
}



