@import "./utils/mixins";
@import "./utils/variables";
@import "./pages/restaurants";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 767px;
    width: 100%;
    
}



a {
    text-decoration: none;
    color: black;
}
                                            /********** Loader *********/
.loader {
    height: 1200px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color : $color-primary;
    opacity: 1;
    @include flex-center;
    flex-direction: column-reverse;
    animation: load 300ms forwards;
    animation-delay: 2s;
    &__circle {
        width: 230px;
        height: 230px;
        border-radius: 100%;
        border:  15px dotted $color-tertiary ;
        position: relative;
        bottom: 300px;
        @include flex-center;
        animation: border 1700ms linear infinite;
        
    }
    &__txt {
        font-size: 22px;
        font-family: $title-font;
        font-weight: 500;
        color: $color-secondary;
        animation: text 1s linear infinite;
    }

}

@keyframes load {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }

}
@keyframes border {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}

@keyframes text {
    
    50%  { opacity: 0.5;
        color: $color-tertiary; 
    }

    70% {
        opacity: 1;
        color: $color-secondary;
    }

    100% {
        opacity: 0.3;
        color: $color-tertiary;
    }
  
}



                                            /*********** Header *********/
header {
    @include flex-center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: 63px;
    position: relative;

    h1 {
        font-size: 30px ;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        color: #101010;
        
    }
}

.search {
    @include flex-center;
    gap: 15px;
    background-color: #EAEAEA;
    height: 50px;

    p {
        font-family: $text-font;
        font-weight: 500;
        color: #353535;
    }

    i {
        color: #353535;
    }

}

                                                /******** Partie haute *********/

.top {
    flex-direction: column;
    @include flex-center;
    background-color: #F6F6F6;
    padding: 40px 20px 50px 20px;
    &__title {
        font-family: $text-font;
        font-weight: 700;
        text-align: center;
        font-size: 24px;
    }
    &__text {
        font-family: $text-font;
        font-weight: 300;
        text-align: center;
        font-size: 18px;
        color: #353535;
        padding-top: 20px;
        
    }
    &__btn {
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        color: white;
        font-family: $text-font;
        font-weight: 500;
        @include flex-center;
        border-radius: 35px;
        padding: 16px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        margin-top: 30px;
        transition: all 500ms ease-in-out;
        &:hover {
            opacity: 0.9;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
            
        }
    }
}

                                                /******** Fonctionnement ********/

.functioning {
    padding: 50px 20px 50px 20px;
    &__container {
        display: flex;
        flex-direction: column;
        
    }
    &__title {
        font-family: $text-font;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }
        &__content {
        display: inline-flex;
        align-items: center;
        gap: 15px;
        background-color: #F6F6F6;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        padding: 25px 0  ;
        width: 100%;
        margin-bottom: 20px;
        cursor: pointer;
        &:nth-of-type(1) .functioning__btn i {
            color: #7E7E7E;
          }
            &:nth-of-type(2) .functioning__btn i {
            color: #7E7E7E;
          }
                &:nth-of-type(3) .functioning__btn i {
                color: $color-primary;
          }

        
    }
            &__number {
            background-color: $color-primary;
            border-radius: 50%;
            color: white;
            padding: 5px 7px;
            font-family: $text-font;
            font-weight: 500;
            font-size: 14px;
            position: relative;
            right: 12px;
    }

            &__btn {
            display: inline-flex;
            align-items: center;
            gap: 20px;
    }

    a {
        color: black;
        font-family: $text-font;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    i {
        font-size: 20px;
    }

      
}


                                                /******** Restaurants **********/
.restaurants {
    padding: 50px 15px ;
    background-color: #F6F6F6;
    &__title {
        font-family: $text-font;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
        &__new {
            font-weight: 500;
            font-family: $text-font;
            font-size: 16px;
            padding: 5px 10px;
            color: #278870;
            background-color: #99e2d0;
            border-radius: 2px;
            border: none;
            position: absolute;
            right: 10px;
            top: 15px;

    }
            &__content {
                background-color: white;
                border-radius: 15px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;

    }
                &__img {
                    object-fit: cover;
                    height: 170px;
                    width: 100%;
                    border-radius: 15px 15px 0 0 ;
                }
                &__img-container {
                    position: relative;
                }
                    &__heart {
                        display: inline-flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        padding: 15px 20px 15px 15px;

                    }
                        .fa-heart {
                            font-size: 20px;
                        }
                            h4 {
                                font-family: $text-font;
                                font-weight: 700;
                                font-size: 18px;
                                padding-bottom: 5px;
                            }
                                p {
                                    font-family: $text-font;
                                    font-weight: 300;
                                    font-size: 17px;
                                }
                                   
                                    
                                
}

.restaurants__content i::after {
    
        content: "\f004";
        position: relative;
        right: 20px;
        font-weight: 900;
        color: #9356DC;
        background-image: linear-gradient(190deg, #9356DC 0%, #FF79DA 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 900ms ease-in-out;
}

.restaurants__content i:hover::after {
    opacity: 1;
}

.footer {
    background-color: #353535;
    padding: 20px 15px;

    h5 {
        font-size: 18px ;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        color: white;
        margin-bottom: 20px;
        
    }
        &__content {
            display: flex;
            flex-direction: column;
            color: white;
        }
            &__link {
                display: inline-block;
                display: flex;
                gap: 10px;
                
            }
                a {
                    color: white;
                    font-family: $text-font;
                    font-weight: 500;
                    font-size: 16px;
                    padding-bottom: 5px;
                }

            
    }    

    /******************** TABLETTE ******************/

    @media (min-width : 768px) and (max-width : 1024px) {

        body {
            max-width: 1024px;
        }

        .functioning {
           
            &__container {
                display: flex;
                flex-direction: row;
                gap: 10px 50px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                
            }
            &__content {
                width: auto;
                padding-right: 20px;
            }
        }

        .restaurants {
            padding: 50px 20px;
            &__card {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 40px 90px;
                justify-content: center;
                align-items: center;

            }
            &__content {
                width: 100%;
                margin: 0;
            }
        }

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 40px;
            padding: 80px 30px 20px 0;
            h5 {
                order: 2;
                margin: 0;
                padding-bottom: 15px;
            }
            &__content {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
            &__link:nth-child(2) {
                padding-right: 20px;
            }
        } 
    }

        /************* DEKSTOP ***********/

        @media (min-width: 1024px) and (max-width : 1440px) {
            body {
                max-width: 1440px;
            }
    
            .functioning {
                padding: 50px 10% ;
               
                &__container {
                    display: flex;
                    flex-direction: row;
                    gap: 10px 50px;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: baseline;
                    
                }
                &__content {
                    width: 100%;
                    padding-right: 10px;
                }
            }
    
            .restaurants {
                padding: 50px 10%;
                &__card {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 40px 90px;
                    justify-content: center;
                    align-items: center;
    
                }
                &__content {
                    width: 100%;
                    margin: 0;
                }
            }
    
            .footer {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 80px;
                padding: 80px 50px 20px 0;
                h5 {
                    order: 2;
                    margin: 0;
                    padding-bottom: 15px;
                }
                &__content {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
                &__link:nth-child(2) {
                    padding-right: 50px;
                }
            } 
        }

        















    

    
    








