@import "/sass/main.css";
/********** Header **********/
.header {
  display: inline-flex;
  width: 100%;
}
.header a {
  position: absolute;
  left: 5%;
  color: #353535;
}
.header i {
  font-size: 20px;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.main {
  margin-bottom: -40px;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -40px;
  padding: 25px 15px 50px;
}
.menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px 0;
}
.menu__top i::after {
  content: "\f004";
  position: relative;
  right: 23px;
  font-weight: 900;
  color: #9356DC;
  background-image: linear-gradient(190deg, #9356DC 0%, #FF79DA 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 900ms ease-in-out;
}
.menu__top i:hover::after {
  opacity: 1;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  color: #101010;
  font-weight: 400;
}
.menu i {
  font-size: 23px;
}
.menu__dish, .menu__dessert, .menu__starter {
  padding: 10px 0 40px;
}
.menu h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.menu span {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
.menu__content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #353535;
  font-size: 14px;
  padding: 0 15px 15px 0;
}
.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__btn__txt {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 15px 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  padding: 15px;
  transition: all 500ms ease-in-out;
}
.menu__btn__txt:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.menu__validation {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  border-radius: 0 15px 15px 0;
}
.menu__validation i {
  font-size: 12px;
  border-radius: 100%;
  color: #99E2D0;
  background-color: white;
  padding: 5px;
}

.menu__txt {
  padding: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__txt p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__txt h4 {
  font-family: "Roboto", sans-serif;
  -weight: 600;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__content:hover .menu__validation {
  position: relative;
  right: 0;
  visibility: visible;
}

.menu__validation {
  position: absolute;
  right: -90px;
  height: 67px;
  transition: all 300ms ease;
  visibility: hidden;
}

.menu__content:hover .menu__validation i {
  transform: rotate(360deg);
}

.menu__validation i {
  transition: all 500ms ease;
}

.menu__starter,
.menu__dish,
.menu__dessert {
  opacity: 0;
}

.menu__starter {
  animation: fade-in 1s ease-in-out 0.5s forwards;
}

.menu__dish {
  animation: fade-in 2s ease-in-out 1s forwards;
}

.menu__dessert {
  animation: fade-in 3s ease-in-out 1.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 767px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/*********** Header *********/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 63px;
  position: relative;
}
header h1 {
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  color: #101010;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #EAEAEA;
  height: 50px;
}
.search p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
}
.search i {
  color: #353535;
}

/******** Partie haute *********/
.top {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 40px 20px 50px 20px;
}
.top__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
}
.top__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #353535;
  padding-top: 20px;
}
.top__btn {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  padding: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  transition: all 500ms ease-in-out;
}
.top__btn:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/******** Fonctionnement ********/
.functioning {
  padding: 50px 20px 50px 20px;
}
.functioning__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.functioning__content {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 25px 0 25px 40px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.functioning__number {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  left: 10px;
}
.functioning__btn {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.functioning a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.functioning i {
  font-size: 20px;
}
.functioning__content:nth-of-type(1) .functioning__btn i {
  color: #7E7E7E;
}
.functioning__content:nth-of-type(2) .functioning__btn i {
  color: #7E7E7E;
}
.functioning__content:nth-of-type(3) .functioning__btn i {
  color: #9356DC;
}

/******** Restaurants **********/
.restaurants {
  padding: 50px 15px;
  background-color: #F6F6F6;
}
.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.restaurants__new {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  color: #278870;
  background-color: #99e2d0;
  border-radius: 2px;
  border: none;
  position: absolute;
  right: 10px;
  top: 15px;
}
.restaurants__content {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.restaurants__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 170px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__img-container {
  position: relative;
}
.restaurants__heart {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px 15px 15px;
}
.restaurants .fa-heart {
  font-size: 20px;
}
.restaurants h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 5px;
}
.restaurants p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.restaurants__content i::after {
  content: "\f004";
  position: relative;
  right: 20px;
  font-weight: 900;
  color: #9356DC;
  background-image: linear-gradient(190deg, #9356DC 0%, #FF79DA 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 900ms ease-in-out;
}

.restaurants__content i:hover::after {
  opacity: 1;
}

.footer {
  background-color: #353535;
  padding: 20px 15px;
}
.footer h5 {
  font-size: 18px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer__link {
  display: inline-block;
  display: flex;
  gap: 10px;
}
.footer a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 5px;
}/*# sourceMappingURL=main.css.map */