.loader {
    @include loader ;
        &__circle {
            width: 230px;
            height: 230px;
            border-radius: 100%;
            border:  15px dotted $color-tertiary ;
            position: relative;
            bottom: 300px;
            @include flex-center;
            animation: border 1700ms linear infinite;
        }
        &__txt {
            font-size: 22px;
            font-family: $title-font;
            font-weight: 500;
            color: $color-secondary;
            animation: text 1s linear infinite;
        }
    }