.top {
    flex-direction: column;
    @include flex-center;
    background-color: #F6F6F6;
    padding: 40px 20px 50px 20px;
    &__title {
        @include title-style;
        text-align: center;
    }
    &__text {
        font-family: $text-font;
        font-weight: 300;
        text-align: center;
        font-size: 18px;
        color: #353535;
        padding-top: 20px;
        
    }
    &__btn {
        background: $color-background;
        @include flex-center;
        @include btn-style;
        &:hover {
            opacity: 0.9;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
        }
    }
}