
@import "/sass/main.css";


                                                /********** Header **********/
.header {
    display: inline-flex;
    width: 100%;
    a {
        position: absolute;
        left: 5%;
        color: #353535;
    }
        i {
            font-size: 20px;
        }
            
}

.img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.main {
    margin-bottom: -40px;
}

.menu {
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -40px;
    padding: 25px 15px 50px ;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 20px 0;
    }

    &__top i::after{
        content: "\f004";
        position: relative;
        right: 23px;
        font-weight: 900;
        color: #9356DC;
        background-image: linear-gradient(190deg, #9356DC 0%, #FF79DA 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 900ms ease-in-out;
    }
    &__top i:hover::after {
        opacity: 1; 
    }
    
        &__title {
            font-family: $title-font;
            font-size: 28px;
            color: #101010;
            font-weight: 400;
        }
            i {
                font-size: 23px;
            }
                &__dish , &__dessert , &__starter  {
                    padding: 10px 0 40px;
                }
                    h3 {
                        font-family: $text-font;
                        font-size: 16px;
                        font-weight: 300;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
                        span {
                            border-bottom: 3px solid #99E2D0;
                            padding-bottom: 5px;
                        }
                            &__content {
                                display: flex;
                                justify-content: space-between;
                                margin-top: 10px;
                                background-color: white;
                                box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
                                border-radius: 15px;
                                cursor: pointer;
                                
                            }
                                        &__price {
                                            display: flex;
                                            align-items: flex-end;
                                            font-family: $text-font;
                                            font-weight: 700;
                                            color: #353535;
                                            font-size: 14px;
                                            padding : 0 15px 15px 0 ;
                                        }

                                                &__btn { 
                                                    @include flex-center;
                                                }
                                                    &__btn__txt {
                                                        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                                                        border-radius: 25px;
                                                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
                                                        padding: 15px 50px;
                                                        font-family: $text-font;
                                                        font-weight: 500;
                                                        color: white;
                                                        letter-spacing: 1px;
                                                        padding: 15px;
                                                        transition: all 500ms ease-in-out;
                                                        &:hover {
                                                            opacity: 0.9;
                                                            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
                                                        }

                                                    }

                                                        &__validation {
                                                            background-color: $color-tertiary;
                                                            @include flex-center ;
                                                            width: 80px;
                                                            border-radius: 0 15px 15px 0;
                                                            
                                                        
                                                        i {
                                                            font-size: 12px;
                                                            border-radius: 100%;
                                                            color: $color-tertiary;
                                                            background-color: white;
                                                            padding: 5px;

                                                        }
                                                    }

}  

.menu__txt {
    padding: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        p {
            font-family: $text-font;
            font-weight: 300;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
            h4 {
                font-family: $text-font;
                -weight: 600;
                font-size: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
}


.menu__content {
    
    
    
}



.menu__content:hover .menu__validation {
    position: relative;
    right: 0;
    visibility: visible;
    
}
.menu__validation {
    position: absolute;
    right: -90px;
    height: 67px;
    transition: all 300ms ease;
    visibility: hidden;
}

.menu__content:hover .menu__validation i {
    transform: rotate(360deg);
}

.menu__validation i {
    transition: all 500ms ease;
}

.menu__starter,
.menu__dish,
.menu__dessert {
  opacity: 0; 
}

.menu__starter {
  animation: fade-in 1s ease-in-out 0.5s forwards; 
}

.menu__dish {
  animation: fade-in 2s ease-in-out 1s forwards; 
}

.menu__dessert {
  animation: fade-in 3s ease-in-out 1.5s forwards; 
}

@keyframes fade-in {
  from {
    opacity: 0; 
  }

  to {
    opacity: 1; 
  }
}

  

  
  
  
  
  
  



