
@import "/sass/main.css";


                                                /********** Header **********/
.header {
    display: inline-flex;
    width: 100%;
    a {
        position: absolute;
        left: 2%;
        color: #353535;
    }
    i {
        font-size: 20px;
    }           
}

.img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 300px;
}

.main {
    margin-bottom: -40px;
}

.menu {
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -40px;
    padding: 25px 15px 50px ;
    overflow: hidden;
    &__starter , &__dish , &__dessert  {
        padding: 10px 0 40px;
        opacity: 0;
        &:nth-of-type(2) {
            animation: fade-in 1s ease-in-out 0.5s forwards;
        }
        &:nth-of-type(3) {
            animation: fade-in 2s ease-in-out 1s forwards;
        }
        &:nth-of-type(4){
            animation: fade-in 3s ease-in-out 1.5s forwards;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 20px 0;
        i {
            font-size: 23px;
        }
        i::after{
            right: 23px;
            @include heart; 
        }
        i:hover::after {
            opacity: 1; 
        }
    }
    &__title {
        font-family: $title-font;
        font-size: 28px;
        color: #101010;
        font-weight: 400;
    }
    h3 {
        font-family: $text-font;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
        span {
            border-bottom: 3px solid #99E2D0;
            padding-bottom: 5px;
        }
    }    
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        background-color: white;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        cursor: pointer;
        overflow: hidden;
        &:hover {
            .menu__validation {
            margin-right: 0;
            }
            .menu__validation i {
            animation: rotate 800ms ease;
            }       
        }
    }
    &__txt {
        padding: 15px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        p {
            font-family: $text-font;
            font-weight: 300;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h4 {
            font-family: $text-font;
            font-weight: 600;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price {
        display: flex;
        align-items: flex-end;
        font-family: $text-font;
        font-weight: 700;
        color: #353535;
        font-size: 14px;
        padding : 0 15px 15px 0 ;
    } 
    &__btn { 
        @include flex-center;
    } 
    &__btn__txt {
        @include btn-style;
        &:hover {
            opacity: 0.9;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
        }
    } 
    &__validation {
        background-color: $color-tertiary;
        @include flex-center ;
        width: 80px;
        border-radius: 0 15px 15px 0;
        margin-right: -80px;
        transition: margin-right 300ms ease; 
        i {
            font-size: 12px;
            border-radius: 100%;
            color: $color-tertiary;
            background-color: white;
            padding: 5px;
        }
    } 

}  

/*********** Tablette ***********/

@media (min-width : 768px) {
    
.img {
    height: 300px;
}

.menu {
    padding: 25px 15% 50px;
    margin: 0 12%;
    &__top {
        justify-content: center;
        gap: 30px;
    }
}



}

  

  
  
  
  
  
  



